<!DOCTYPE>
<html>
    <head>
        <h1>Articles</h1>
    </head>
    <body>
        <form method="POST" action="/articles/<%=@article.id%>">
        <input type="submit" value="delete"><br/>
        </form>
    </body>
</html>
