<!DOCTYPE html>

<html>
   <head>
       <title></title>
   </head>
   <body>
        <form method="POST" action="/articles">
            
        

        
        
        </form>
   </body>
</html>