<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>New Book</title>
  </head>
  <body>
    <h1>New book!</h1>
    <form method="POST" action="/articles">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title">
      <label for="content">Content:</label>
      <input type="textarea" id="content" name="content">
      <input type="submit">
    </form>
  </body>
</html>
