<h1><%= @title %></h1>
<h2><%= @content %></h2>

<form method="POST" action="/articles/<%=@id%>">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit" value="delete">
</form>