<!DOCTYPE html>
    <head>
        <title>Detail page for <%= @article.title %></title>
    </head>
    <body>
        <h1>Title: <%= @article.title %></h1>
        <p><%= @article.content %></p>
    </body>
</html>